<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    <style>
        * {
  			font-family: 'Open Sans', sans-serif;
  		}
        body {
            background-color: #DDDDDD;
        }
        .navbar {
            border-radius: 0;
        }
        .navbar-default {
            background-color: #0D04B6; 
        }
        .btn {
            border-radius: 0;
        }
        .btn-primary {
            background-color: #0D04B6;
        }

    </style>
    {% block style %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}        
    </body>

    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
</html>